@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60, 64%, 92%;
    --foreground: 222 47% 11%;

    --primary: 145 21% 41%; /* #537D5D */
    --primary-foreground: 0 0% 100%;

    --secondary: 131 17% 51%; /* #73946B */
    --secondary-foreground: 0 0% 100%;

    --accent: 82 34% 65%; /* #9EBC8A */
    --accent-foreground: 0 0% 10%;

    --muted: 54 27% 72%; /* #D2D0A0 */
    --muted-foreground: 0 0% 20%;

    --border: 200, 13%, 85%;
    --input: 200, 13%, 85%;
    --ring: 145 21% 41%;
    --label: 124 47% 34%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --chart-1: 145 21% 41%;
    --chart-2: 131 17% 51%;
    --chart-3: 82 34% 65%;
    --chart-4: 54 27% 72%;
    --chart-5: 158 25% 71%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;

    --primary: 82 34% 65%;
    --primary-foreground: 0 0% 10%;

    --secondary: 54 27% 72%;
    --secondary-foreground: 0 0% 10%;

    --accent: 145 21% 41%;
    --accent-foreground: 0 0% 100%;

    --muted: 131 17% 51%;
    --muted-foreground: 0 0% 100%;

    --border: 210 15% 30%;
    --input: 210 15% 25%;
    --ring: 82 34% 65%;
    --label: 0 0% 100%;
    
    

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .card {
    @apply rounded-lg border bg-card text-card-foreground shadow-sm;
  }
}
